body {
	padding:0px;
	margin:0px;
	font-size:20px;
	line-height:40px;
	-webkit-backface-visibility: hidden;
}
.page {
	position:absolute;
	overflow:hidden;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
.header {
	padding:5px 0px;
	width:100%;
	height:30px;
	text-align:center;
	color:#fff;
	background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	
}
.content {
	width:100%;
	/*height:100%;*/
	overflow:auto;
	background:#fff;
}
.footer {
	width:100%;
	height:30px;
	padding:5px 0px;
	background: #ccd400; /* Old browsers */
background: -moz-linear-gradient(top,  #ccd400 0%, #b3b800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccd400), color-stop(100%,#b3b800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ccd400 0%,#b3b800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ccd400 0%,#b3b800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ccd400 0%,#b3b800 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ccd400 0%,#b3b800 100%); /* W3C */

	
}
.b-fixed {
	position:fixed;
	bottom:0px;
}
.display-none {
	top:-2000px;
	left:-2000px;
	z-index:1;
}
.display-hidden {
	opacity:0;
	z-index:1;
}
.display-show {
	z-index:9;
}
.display-now {
	/*left:0px;
	top:0px;*/
	z-index:10;
	left:0px;
	top:0px;
}
.display-leave {
	/*top:0px;
	left:0px;*/
	z-index:2;
}
.fixed {
	position:fixed;
}
.to-bottom {
	left:0px;
	bottom:0px;
}
.bg_f {
	background:#fff;
}
@-webkit-keyframes slideInLeft {
	0% {
		opacity:1;
		z-index:12;
		-webkit-transform: translateX(-2000px);
	}

	100% {
		-webkit-transform: translateX(0);
		z-index:10;
	}
}

@-moz-keyframes slideInLeft {
	0% {
		opacity:1;
		-moz-transform: translateX(-2000px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInLeft {
	0% {
		opacity:1;
		-o-transform: translateX(-2000px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes slideInLeft {
	0% {
		opacity:1;
		z-index:12;
		transform: translateX(-2000px);
	}

	100% {
		transform: translateX(0);
		z-index:10;
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
	0% {
		opacity: 1;
		z-index:12;
		-webkit-transform: translateX(2000px);
	}
	100% {
		-webkit-transform: translateX(0);
		z-index:10;
	}
}

@-moz-keyframes slideInRight {
	0% {
		opacity: 1;
		z-index:12;
		-moz-transform: translateX(2000px);
	}

	100% {
		-moz-transform: translateX(0);
		z-index:10;
	}
}

@-o-keyframes slideInRight {
	0% {
		opacity: 1;
		z-index:12;
		-o-transform: translateX(2000px);
	}

	100% {
		-o-transform: translateX(0);
		z-index:10;
	}
}

@keyframes slideInRight {
	0% {
		opacity: 1;
		z-index:12;
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(0);
		z-index:10;
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	-moz-animation-name: slideInRight;
	-o-animation-name: slideInRight;
	animation-name: slideInRight;
}
@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
}

@-moz-keyframes slideOutLeft {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
}

@-o-keyframes slideOutLeft {
	0% {
		-o-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
}

@keyframes slideOutLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	-moz-animation-name: slideOutLeft;
	-o-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index:10;
  }

  99% {
  
  	opacity: 0.9;
  	z-index:10;
  }
	
  100% {
    /*left:-2000px;
    top:-2000px;*/
     opacity: 0;
    z-index:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index:10;
  }

  80% {
  	opacity: 0.9;
  	z-index:10;
  }
	
  100% {
    /*left:-2000px;
    top:-2000px;*/
    opacity: 0;
    z-index:1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/*按鈕*/
.btn {
	font-size: 20px;
	color: #3d3d3d;
	padding: 8px 16px;
	margin:0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(181,181,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(181,181,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(181,181,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(181,181,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(181,181,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(181,181,181,1) 100%); /* W3C */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #9e9e9e;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.8),
		inset 0px 0px 3px rgba(224,224,224,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.8),
		inset 0px 0px 3px rgba(224,224,224,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.8),
		inset 0px 0px 3px rgba(224,224,224,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	
	cursor:pointer;
}